<?xml version="1.0" encoding="utf-8"?>
<root>
    <module
    name="login"
    target="SHLoginViewController"
    type = "--"
    icon = "tab_news.png"
    title = "登录"
    pre_action = "notification_login_successful"

    />
    
    <module
    name="mainpage"
    target="SHMainPageViewController"
    type = "main"
    icon = "navi_home.png"
    title = "首页"
    />
    
    <module
    name="carinfo"
    target="SHCarInfoViewController"
    type = "main"
    icon = "navi_order.png"
    title = "车况档案"
    />
    <module
    name="dealcenter"
    target="SHServiceCenterViewController"
    type = "main"
    icon = "navi_phone.png"
    title = "受理中心"
    />
    <module
    name="myinfo"
    target="SHMyInfoViewController"
    type = "main"
    icon = "navi_myself"
    title = "我的信息"
    />
   
    <module
    name="request"
    target="SHRequirementViewController"
    type = "--"
    icon = "navi_phone.png"
    title = "提出需求"
    />
    <module
    name="shoplist"
    target="SHShopListViewController"
    type = "--"
    icon = "navi_phone.png"
    title = "提出需求"
    />
    <module
    name="shopinfo"
    target="SHShopInfoViewController"
    type = "--"
    icon = "navi_phone.png"
    title = "提出需求"
    />
    
    <module
    name="mycarlist"
    target="SHMyCarInfoListViewController"
    type = "--"
    icon = "--"
    title = "我的车辆"
    />
    <module
    name="editcarinfo"
    target="SHEditCarinfoViewViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    
    <module
    name="categarylist"
    target="SHCarCategaryViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    <module
    name="subcategarylist"
    target="SHSubCategaryViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    <module
    name="letterslist"
    target="SHLertterViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    <module
    name="provincelist"
    target="SHProvinceViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    <module
    name="aboutus"
    target="SHAboutViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    <module
    name="checkreport"
    target="SHViewCheckReportViewController"
    type = "--"
    icon = "--"
    title = "添加修改车辆信息"
    />
    <module
    name="contentcontainer"
    target="SHContentViewController"
    type = "--"
    icon = "--"
    title = "内容"
    />
    <module
    name="insurancereport"
    target="SHInsuranceViewController"
    type = "--"
    icon = "--"
    title = "保险"
    />
    <module
    name="locationsearch"
    target="SHLocationViewController"
    type = "--"
    icon = "--"
    title = "地址检索"
    />
    <module
    name="titlecontent"
    target="SHContentViewController"
    type = "--"
    icon = "--"
    title = "文本内容呈现器"
    />
    <module
    name="chatdetail"
    target="SHChatDetailViewController"
    type = "--"
    icon = "--"
    title = "聊天"
    />
    <module
    name="webview"
    target="SHWebViewController"
    type = "--"
    icon = "--"
    title = "浏览器"
    />
    <module
    name="goupon"
    target="SHGouponViewController"
    type = "--"
    icon = "--"
    title = "浏览器"
    />
    <module
    name="line"
    target="SHLineViewController"
    type = "--"
    icon = "--"
    title = "线路"
    />
    <module
    name="repair_report"
    target="SHRepairReportViewController"
    type = "--"
    icon = "--"
    title = "线路"
    />
    <module
    name="car_state_changed_report"
    target="SHCarStateChangeViewController"
    type = "--"
    icon = "--"
    title = "车况变化报告"
    />



</root>